body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

#container {
    display: flex;
    height: 75vh;
    width: 90vw;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}

#daterange{
	width: 200px;
}

/* Map Container */
#map-container {
    flex: 2;
    position: relative;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    border-right: 1px solid #d0d0d0;
}

#map {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/* Sidebar */
#sidebar {
    flex: 1;
    background-color: #f9f9f9;
    padding: 30px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 15px 15px 0;
}

.container-layout {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
}

/* Date Picker */
.date-picker-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.date-picker {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    height: 40px;
    flex-grow: 1;
}

.date-picker input {
    width: 100%;
    height: 100%;
    padding: 0;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    background-color: inherit;
    text-align: center;
    border: 1px solid #d0d0d0;
}

/* Search Box */
.search-box {
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    max-width: 400px;
    background-color: #f0f7ff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.search-txt {
    flex-grow: 1;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 10px;
    height: 40px;
    border-radius: 10px 0 0 10px;
    border: 1px solid #d0d0d0;
}

.search-btn {
    background-color: #58aaff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border: 1px solid #58aaff;
}

.search-btn:hover {
    background-color: #007bff;
}

#placesList {
    max-height: 400px;
    overflow-y: auto;
    position: relative;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 2;
    margin-top: 10px;
}
#placesList li {
	list-style: none;
}

#placesList .item {
	position: relative;
	border-bottom: 1px solid #888;
	overflow: hidden;
	cursor: pointer;
	min-height: 65px;
}

#placesList .item span {
	display: block;
	margin-top: 4px;
}

#placesList .item h5, #placesList .item .info {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#placesList .item .info {
	padding: 10px 0 10px 55px;
}

#placesList .info .gray {
	color: #8a8a8a;
}

#placesList .info .jibun {
	padding-left: 26px;
	background:
		url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png)
		no-repeat;
}

#placesList .info .tel {
	color: #009900;
}

#placesList .item .markerbg {
	float: left;
	position: absolute;
	width: 36px;
	height: 30px;
	background:
		url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png)
		no-repeat;
}

#placesList .item .marker_1 {
	background-position: 0 -10px;
}

#placesList .item .marker_2 {
	background-position: 0 -56px;
}

#placesList .item .marker_3 {
	background-position: 0 -102px
}

#placesList .item .marker_4 {
	background-position: 0 -148px;
}

#placesList .item .marker_5 {
	background-position: 0 -194px;
}

#placesList .item .marker_6 {
	background-position: 0 -240px;
}

#placesList .item .marker_7 {
	background-position: 0 -286px;
}

#placesList .item .marker_8 {
	background-position: 0 -332px;
}

#placesList .item .marker_9 {
	background-position: 0 -378px;
}

#placesList .item .marker_10 {
	background-position: 0 -423px;
}

#placesList .item .marker_11 {
	background-position: 0 -470px;
}

#placesList .item .marker_12 {
	background-position: 0 -516px;
}

#placesList .item .marker_13 {
	background-position: 0 -562px;
}

#placesList .item .marker_14 {
	background-position: 0 -608px;
}

#placesList .item .marker_15 {
	background-position: 0 -654px;
}

#numbered-list {
    z-index: 1;
    margin-right: 10px;
}

ul.numbered {
    margin-top: 30px;
    counter-reset: numbered-list;
    margin-left: 10px;
    position: relative;
    max-height: 350px;
    overflow-y: auto;
    padding-left: 20px;
}

/* Custom scrollbar styling for WebKit browsers */
ul.numbered::-webkit-scrollbar {
    width: 10px;
}

ul.numbered::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 20px;
}

ul.numbered::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 20px;
}

ul.numbered li {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
    position: relative;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

ul.numbered li:before {
    content: counter(numbered-list);
    counter-increment: numbered-list;
    background-color: #4CAF50;
    color: white;
    border-radius: 50%;
    font-weight: bold;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin-right: 10px; 
}

ul.numbered li i {
    margin-left: auto; 
    cursor: pointer;
    color: #666; 
}


/* Pagination */
.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination button {
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #27A4FC;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}