HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Logs 폴더 및 로그 파일 제외
LOG_PATH_IS_UNDEFINED/
*.log

# Python 가상 환경 폴더 제외
venv/

# .env 파일 
.env

# __pycache__ 폴더
__pycache__/

# 기타 임시 파일 및 OS별 파일
*.pyc
*.pyo
.DS_Store
Thumbs.db

