@charset "UTF-8";

@font-face {
	font-family: 'HSSaemaul-Regular';
	src:
		url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSSaemaul-Regular.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

html, body {
	font-family: 'HSSaemaul-Regular', sans-serif;
	margin: 0;
	padding: 0;
}

style>.popup-bg {
	position: fixed;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.7);
	display: none;
	z-index: 40;
}

.popup-container {
	width: 450px;
	height: 500px;
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 15px;
	padding: 20px;
	position: relative;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.popup-header {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

.close-popup {
	font-size: 20px;
	cursor: pointer;
	background: none;
	border: none;
	padding: 0;
}

.popup-body {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	width: 100%;
}

.input-container {
	width: 100%;
}

.popup-login-button {
	width: 70px;
	height: 40px;
	background-color: #4D9FFF;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 15px;
	font-size: 14px;
}

.next-button,.prev-button{
	width: 70px;
	height: 40px;
	background-color: #DADADC;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 15px;
	font-size: 14px;
}

.signup-message {
	margin-top: 15px;
	text-align: left;
	font-size: 12px;
	color: gray;
}

.signup-popup {
	position: fixed;
	inset: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 50;
}

.input-field {
	width: 100%;
	height: 35px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 14px;
}

label {
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 3px;
}